#section4{
    width: clamp( 250px, 50%, 1500px);
    margin: 50px auto;
  }
  
  #section4 h2{
    font-weight: 500;
    margin: 10px auto;
    font-size: 1.5rem;
  }
  
  #section4_content{
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    border-top: 1px rgba(128, 128, 128, 0.508) solid;
  }
  
  #card8{
    width: fit-content;
    margin: 10px 20px;
    padding: 5px;
    box-shadow: 0 0 5px 5px #d6d6d664;
    color: rgb(0, 102, 255)
  }